<p-dialog
  [(visible)]="showMatchDialog"
  header="Your Perfect Match!"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{width: '90vw', maxWidth: '500px'}"
  (onHide)="closeMatchDialog()"
>
  <div *ngIf="matchedDog" class="match-dialog-content">
    <app-dog-card
      *ngIf="matchedDog; else skeletonLoader"
      [dog]="matchedDog"
      [isFavorite]="true"
      [distance]="matchedDog.distance"
      [location]="dogLocations.get(matchedDog.zip_code)"
      [hideLoveSymbol] = "hideLoveSymbol"
    ></app-dog-card>
  </div>
</p-dialog>


<ng-template #skeletonLoader>
  <p-card class="dog-card">
    <p-skeleton height="200px"></p-skeleton>
    <div class="dog-info">
      <p-skeleton width="60%" height="1.5rem"></p-skeleton>
      <p-skeleton width="80%" height="1rem"></p-skeleton>
      <p-skeleton width="50%" height="1rem"></p-skeleton>
    </div>
  </p-card>
</ng-template>