<p-card class="dog-card">
  <ng-template pTemplate="header">
    <div class="dog-image-container" (click)="onImageClick()">
      <ng-container *ngIf="dog; else loadingSkeleton">
        <img [src]="dog.img" [alt]="dog.name" class="dog-image" />
      </ng-container>
      <ng-template #loadingSkeleton>
        <p-skeleton height="200px"></p-skeleton>
      </ng-template>
        <span
        class="favorite-icon"
        [ngClass]="{ favorited: isFavorite, 'not-favorited': !isFavorite }"
        (click)="onFavoriteClick($event)"
      >
        <i class="pi" [ngClass]="isFavorite ? 'pi-heart-fill' : 'pi-heart'"></i>
      </span>
    </div>
  </ng-template>
  <div class="dog-info">
    <ng-container *ngIf="dog; else nameSkeleton">
      <h3 class="dog-name">{{ dog.name }}</h3>
    </ng-container>
    <ng-template #nameSkeleton>
      <p-skeleton width="60%" height="1.5rem"></p-skeleton>
    </ng-template>    <div class="info-row">
      <i class="pi pi-tag"></i>
      <span>{{ dog.breed }}</span>
    </div>
    <div class="info-row">
      <i class="pi pi-calendar"></i>
      <span>{{ dog.age }} years old</span>
    </div>
    <div class="info-row">
      <i class="pi pi-map-marker"></i>
      <span>
        <ng-container *ngIf="location">
          {{ location.city }}, {{ location.state }}
        </ng-container>
        <ng-container *ngIf="distance">
          ({{ distance }} miles away)
        </ng-container>
      </span>
    </div>
  </div>
</p-card>