<p-card class="dog-card">
  <ng-template pTemplate="header">
    <div class="dog-image-container">
      <img [src]="dog.img" [alt]="dog.name" class="dog-image" />
      <span
        class="favorite-icon"
        [ngClass]="{ favorited: isFavorite, 'not-favorited': !isFavorite }"
        (click)="onFavoriteClick()"
      >
        <i class="pi" [ngClass]="isFavorite ? 'pi-heart-fill' : 'pi-heart'"></i>
      </span>
    </div>
  </ng-template>
  <div class="dog-info">
    <h3 class="dog-name">{{ dog.name }}</h3>
    <div class="info-row">
      <i class="pi pi-tag"></i>
      <span>{{ dog.breed }}</span>
    </div>
    <div class="info-row">
      <i class="pi pi-calendar"></i>
      <span>{{ dog.age }} years old</span>
    </div>
    <div class="info-row">
      <i class="pi pi-map-marker"></i>
      <span>
        <ng-container *ngIf="location">
          {{ location.city }}, {{ location.state }}
        </ng-container>
        <ng-container *ngIf="distance">
          ({{ distance }} miles away)
        </ng-container>
      </span>
    </div>
  </div>
</p-card>